@charset "utf-8";
/* CSS Document */

body {
	background-color: #f1f1f1;
	display: block;																											
}

html,body,h1,h2,h3,h4,h5,h6 {
	font-family: "Roboto", sans-serif;
	}

h1 {
	font-family: "Roboto", sans-serif;
	font-size: 18pt;
}
						
h2 {
    font-family: "Roboto", sans-serif;
    color: #0A9C9C;
    display: block;
    font-weight: bold;
}

h3 {
	font-family: "Roboto", sans-serif;
	font-size: 14pt;
}	
	
.wrapper {
	margin: auto;
	max-width: 1400px;			 
}

span.header {
	font-family: "Roboto", sans-serif;
	font-size: 9pt;
}
						 
div.leftColumn {
	width: 33%;
	float: left;
	position: relative;
}

div.rightColumn {
    width: 65.55%;
    float: right;
    position: relative;
}
						 
div.CardContent {
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-top: 10px;
}

div.card-header {
	background-color: #FFFFFF;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	text-align: center;
	padding: 8px;
}

div.card-body {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 15px 0 rgba(0, 0, 0, 0.19);
  text-align: left;
  background-color: #FFFFFF;
}

div.rounded {
	border-radius: 5px;
	border-color: #CACACA	
}
	
div.square {
	border-color: #CACACA	
}

div.profileimg {
  position: relative;
  text-align: center;
  color: white;
}
	
a.profile {
    font-family: "Roboto", sans-serif;
    color: #0A9C9C;
    display: block;
    font-weight: bold;
	text-decoration: none;
}
	
a.profile:hover {
    font-family: "Roboto", sans-serif;
    color: #0A9C9C;
    display: block;
    font-weight: bold;
	text-decoration: underline;
}	
	
a.profilelinkimg {
    padding-right: 10px;
	text-decoration: none;
}
	
ul.TwoColumns {
	column-count: 2;
}
	
div.bottom-leftwhite {
  position: absolute;
  bottom: 8px;
  left: 16px;
  color: white;
  text-align: left;
}
